#remove-order {
  color: var(--bs-secondary) !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .open>.dropdown-toggle.btn-secondary {
  background-color: var(--bs-light) !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
  background-color: var(--bs-primary-text-emphasis) !important;
}

.nav-pills li a:hover {
  background-color: var(--bs-primary);
  color: var(--bs-white) !important;
}

.nav-link:hover, .nav-link:focus, .nav-link:active, .open>.dropdown-toggle.nav-link {
  color: var(--bs-primary) !important;
}

.basket-reset:hover, .basket-reset:focus, .basket-reset:active, .basket-reset:hover, .open>.dropdown-toggle.basket-reset {
  color: var(--bs-danger) !important;
}

.admin-main-height {
  height: calc(100vh - 84.666667px);
}

.border-valid {
  border-color: #198754;
}

.border-error {
  border-color: #dc3545;
}

.border-valid:checked, .border-valid:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.border-error:checked, .border-error:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgb(220, 53, 69, 0.25) !important;
}

.numElements {
  position: relative !important;
}

.numElements > span {
  position: absolute !important;
  background: #e76f51;
  border-radius:50%;
  padding: 10px;
  font-size: 14px;
  top: -21px;
  right: -15px;
  color: #2A9D8F;
}

@media only screen and (max-width: 573px) {
  .sm-screen-nav {
    min-width: 47px !important;
  }

  .main-content {
    padding-left: 0 !important;
  }
}

@media only screen and (min-width: 1298px) {
  .main-content {
    margin-left: 3rem;
  }
}



