.nav-pills li a:hover {
    background-color: var(--bs-blue);
}

.admin-main-height {
    height: calc(100vh - 84.666667px);
}

@media only screen and (max-width: 573px) {
    .sm-screen-nav {
        min-width: 47px !important;
    }

    .main-content {
        padding-left: 0 !important;
    }
}

@media only screen and (min-width: 1298px) {
    .main-content {
        margin-left: 3rem;
    }
}


